<html>
    <head>
        <title>Login page</title>
    </head>
    <body>
        <form action="login_post" method="post">
        <h1>회원가입</h1>
        <table>
        <tr>
        <td type="text">아이디</td><td><input type="text" name="uid"></td>
        </tr>
        
        <tr>
        <td type="text">비밀번호</td><td><input type="password" name="psw"></td>
        </tr>
                <tr>
        <td type="text">이름</td><td><input type="name" name="uname"></td>
        </tr>
                <tr>
        <td type="text">성별</td><td><input type="gender" name="gen"></td>
        </tr>
        </table>
        <input type="submit" value="제출">
    </form>
    </body>
</html>
